<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    
    <section class="Salaam-Section" id="Salaam-Section">
        <h1>ٱلسَّلَامُ عَلَيْكُمْ‎</h1>
        <p>Index Page of the Project</p>
        <a class="islaaminfo" href="/register">Register</a>
    </section>

</body>
</html>